@use "@styles/common" as *;

.post_body {
    width: 100%;

    .post_table {
        @include flex('column');
        min-height: auto;
        gap: 1.733vw;
        padding-top: 5vw;

        // .post_card {
        //     background: #fff;
        //     color: #000;
        //     text-align: left;
        //     cursor: pointer;
        //     box-shadow: 0 0.267vw 0.667vw #5656561a;
        //     border-radius: 1.067vw 1.067vw 0 0;
        //     overflow: hidden;

        //     .post_title {
        //         border-radius: 1.067vw 1.067vw 0 0;
        //         background: #DDD;
        //         padding: 1.067vw 1.867vw;
        //         overflow: hidden;
        //         border: 0.133vw solid #ddd;

        //         h1 {
        //             font-size: 1.867vw;
        //         }
        //     }

        //     .post_content {
        //         font-size: 1.867vw;
        //         padding: 1.067vw 1.867vw;
        //         color: #444;
        //         border: 0.133vw solid #ddd;
        //     }
        // }

        .post_card {
            position: relative;
            width: 100%;
            background: #fff;
            color: #000;
            text-align: left;
            box-shadow: 0 0.267vw 0.667vw rgba(86, 86, 86, 0.1);
            border-radius: 1.6vw;
            padding: 0;

            // 왼쪽 꼬리 만들기
            &::before {
                content: "";
                z-index: 1;
                border-top: 0.933vw solid #0000;
                border-bottom: 0.933vw solid #0000;
                border-right: 1.6vw solid #ffffff;
                width: 0;
                height: 0;
                position: absolute;
                top: 1.333vw;
                left: -1.467vw;
            }

            .post_title {
                display: inline-block;
                background: #dbe3f0;
                border-bottom: 0.133vw solid #cddaee;
                border-radius: 1.333vw;
                padding: 0.533vw 1.333vw;
                margin: 2vw 1.333vw 0 1.333vw;

                h1 {
                    font-weight: 500;
                    font-size: 2.2vw;
                }
            }

            .post_content {
                padding: 1.6vw 2.133vw;
                font-size: 3vw;
                color: #444;
                font-weight: 500;
                letter-spacing: -0.267vw;
            }
        }
    }
}