.checkboxContainer {
  display: inline-flex;
  align-items: center;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  
  .checkmark {
      display: inline-block;
      width: var(--checkbox-size, 20px);
      height: var(--checkbox-size, 20px);
      background: #fff;
      border: 2px solid var(--checkbox-color, #2F62CB);
      border-radius: calc(var(--checkbox-size, 20px) * 0.16);
      margin-right: calc(var(--checkbox-size, 20px) * 0.4);

      &:after {
          content: '';
          position: absolute;
          display: none;
          left: calc(var(--checkbox-size, 20px) * 0.45);
          top: calc(var(--checkbox-size, 20px) * 0.25);
          width: calc(var(--checkbox-size, 20px) * 0.2);
          height: calc(var(--checkbox-size, 20px) * 0.4);
          border: solid white;
          border-width: 0 calc(var(--checkbox-size, 20px) * 0.15) calc(var(--checkbox-size, 20px) * 0.15) 0;
          transform: rotate(45deg);
      }
  }
}

.checkboxInput:checked + .checkbox .checkmark {
  background: var(--checkbox-color, #2F62CB);

  &:after {
      display: block;
  }
}

.checkboxLabel {
  font-size: 16px;
}

// 포커스 스타일
.checkboxInput:focus + .checkbox .checkmark {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

// 호버 스타일
.checkbox:hover .checkmark {
  border-color: darken(#2F62CB, 10%);
}