@import '@styles/abstracts/_variables';
@import '@styles/abstracts/_mixins';

.table_container {
	table {
		width: 100%;
		border-collapse: collapse;
		background-color: #ffffff;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
		border-radius: 8px;

		thead {
			background: #f7f7f7;
			text-align: center;
			height: 50px;
			border-bottom: 2px solid #e2e2e2;

			.table_header {
				.table_header_list {
					color: #222;
					font-size: 16px;
					font-weight: bold;
					padding: 10px;
				}
			}
		}

		tbody {
			.table_body {

				:nth-child(even) {
					background-color: #f9f9f9;
				}

				.table_body_list {
					padding: 15px;
					color: #666;
					text-align: center;
					font-size: 14px;
					border-top: 1px solid #e2e2e2;

					&:hover {
						background-color: #e9f0ff;
						color: #1e57ab;
					}
				}
			}
		}
	}
}
