@import '@styles/abstracts/_variables';
@import '@styles/abstracts/_mixins';

.login_section {
    width: 100% !important;
    padding: 35px 0 55px;
    background: #fff;
    box-sizing: border-box;

    .contents {
        margin: 0 auto;
		overflow: inherit;
		@include flex('column');
		align-items: center;
		padding-bottom: 0;
		width: 470px;
		background: #fff;
    }

    .login_tit {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 40px;
        font-weight: 800;
        font-size: 32px;
        color: #000;
        line-height: 1.23;
        box-sizing: border-box;
    }

    .notice {
        width: 100%;
        padding: 0 40px;
        font-weight: 500;
        font-size: 16px;
        color: #848484;
        line-height: 1.21;
        box-sizing: border-box;
    }

    .login_area {
        position: relative;
        @include flex('column');
        align-items: center;
        width: 100%;

        .loginForm {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;

            .inputGroup {
                margin-bottom: 15px;
            }
            
            .iconInput {
                position: relative;
                display: flex;
                align-items: center;
            }
            
            .icon {
                position: absolute;
                left: 15px;
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
            
            .input {
                width: 100%;
                height: 55px;
                padding: 0px 10px 0px 50px;
                border: 1px solid #ddd;
                border-radius: 15px;
                font-size: 16px;
            
                &::placeholder {
                    color: #aaa;
                }
            }
            
            .rememberId {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .rememberIdCheckBox{
                    font-size: 15px;
                    color: #848484;
                }
            }
            
            .loginButton {
                width: 100%;
                padding: 10px;
                background-color: #4c6ef5;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
            
                &:hover {
                    background-color: #3b5bdb;
                }
            }
            
            .links {
                margin-top: 15px;
            
                a {
                    text-decoration: none;
                    font-size: 14px;
            
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .sns_list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0 30px 0;

            li {
                list-style: none;
                .icon{
                    margin: 0 10px;
                }
            }
        }
    }

    .log_ban {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;

        .sl_login_ban {
            overflow: hidden;
            height: 195.002px;

            .swiper-wrapper {
                height: 100%;

                .swiper-slide {
                    overflow: hidden;
                    border-radius: 20px;
                }

                a {
                    height: 100%;
                    display: block;
                    width: 100%;
                    background: #fff;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .pagination {
            @include flex('center');
            width: 100%;
            height: auto;
            margin-top: 14px;
            background: rgba(0, 0, 0, 0);

            .bullet {
                opacity: 1;
                color: #fff;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: #ddd;
                margin: 0 4px;

                &.on {
                    width: 23px;
                    height: 9px;
                    border-radius: 30px;
                    background: #485eff;
                }
            }
        }
    }
}