@import '@styles/abstracts/_mixins';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* intro */
.main_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #f6f6f6;
	z-index: 1;
	z-index: 50;
    .intro_txt {
        .intro_content {
            width: 100%;
            height: 100vh;
            background: #f0f3ff;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
           	.title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 8.13rem;
                color: #f0f3ff;
                -webkit-text-stroke: 1.5px #0c0c0e;
                font-weight: 400;
				cursor: default;
            }
			&.intro_content01 {
				display: block;
			}
			&.intro_content03 {
				background: #000;
				.title {
					color: #000;
					-webkit-text-stroke: 1.5px #fff;
				}
			}
        }
    }
    .follow {
		position: fixed;
		width: 3rem;
		height: 3rem;
		background-color: rgba(191, 108, 199, 0.712);
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		pointer-events: none;
    }
}
.loader_window {
	position: absolute;
    width: 100%;
	min-height: 100%;
    top: 100%;
	background-color: #a3bded;
    z-index: 51;
}




// <div class="morph-wrap">
//       <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
//         <path
//           d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
//       </svg>
//     </div>

// .morph-wrap {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	width: 100%;
// 	overflow: hidden;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	pointer-events: none;
//   }
  
//   .morph {
// 	position: relative;
// 	height: 100%;
// 	fill: var(--background-color-2);
// 	flex: none;
//   }