@import '@styles/abstracts/_mixins';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* intro */
.main_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1000px;
	height: 100vh;
	background: #f6f6f6;
	z-index: 1;
	z-index: 50;

    .intro_txt {

        .intro_content {
            width: 100%;
            height: 100vh;
            background: #f0f3ff;
            display: none;
            position: absolute;
            top: 0;
            left: 0;

           	.title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: clamp(4.5rem, 8vw, 8.13rem);
                color: #f0f3ff;
                -webkit-text-stroke: 1.5px #0c0c0e;
                font-weight: 400;
				cursor: default;
            }

			&.intro_content01 {
				display: block;
			}

			&.intro_content03 {
				background: #000;

				.title {
					color: #000;
					-webkit-text-stroke: 1.5px #fff;
				}
			}
        }
    }

    .follow {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		width: clamp(3rem, 4.2vw, 4rem); 
		height: clamp(3rem, 4.2vw, 4rem);
		background-color: #4467a2;
		font-size: clamp(0.5rem, 0.7vw, 0.7rem);
		font-weight: 300;
		font-family: 'Helvetica Neue' , 'Spoqa Han Sans Neo';
		color: white;
		text-align: center;
		border-radius: 50%;
		pointer-events: none;
    }
}

.loader_window {
	position: absolute;
    width: 100%;
	height: 100vh;
	min-height: 100vh;
    top: 100vh;
	background-color: #a3bded;
    z-index: 51;
}