@use "@styles/common" as *;

.archivingSection {
    margin: 0 auto;
    text-align: center;
    padding: 100px 32px;
	background: #2957e2;

	.sub_title {
		font-size: 15px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 15px;
		letter-spacing: 1px;
	}

	.title {
		font-weight: 400;
		font-size: 35px;
		line-height: 36px;
		text-align: center;
		color: #fff;

		span {
			font-weight: 600;
			padding: 0 3px;
		}
	}

	.archiveGrid {
		@include flex('center');
		gap: 40px;
		margin-top: 70px;

		.archiveCard {
			display: grid;
    		align-items: center;
			width: 350px;
			height: 130px;
			background-color: #fff;
			border-radius: 20px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
			padding: 30px;
			text-align: left;
			transition: transform 0.3s ease;

			&:hover {
				transform: translateY(-5px);
			}

			.iconTitle {
				position: relative;
				width: 200px;
				height: 45px;

				&.blog {
					width: 152px;
    				height: 72px;
				}
			}

			.link {
				display: inline-block;
				color: #4b6ff4;
				font-size: 16px;
				text-decoration: none;
				letter-spacing: normal;

				&:hover {
					text-decoration: underline;
				}
			}

			.description {
				font-size: 16px;
				color: #111;
				font-weight: 400;
			}
		}
	}
}