@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* animation */
@keyframes aniSlideLeft {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(-49.999%, 0px);}
}
@keyframes aniFadeIn {
	0% {opacity: 0; transform: translateY(30px);}
	100% {opacity: 1; transform: translateY(0);}
}
@keyframes aniFade {
	0% {opacity: 0; transform: translateY(30%);}
	10%, 90% {opacity: 1; transform: translateY(0%);}
	100% {opacity: 0; transform: translateY(-30%);}
}

/* info */
.home_detail {
	position: absolute;
	width: 100%;
	padding: 10rem 0 0 0;
	background: #f0f3ff;
	font-size: 1.1rem;
	transition: opacity 1s ease;
	z-index: 10;

	&.active01 {
		background: #f9f7f1;
		transition: .5s;
		transition-delay: .5s;
	}
	&.active02 {
		background: #000;
		transition: .5s;
		transition-delay: .5s;

		* {
			color: #fff !important;
		}
	}

	// common
	h3, h5 {
		font-size: 2rem;
		font-weight: 700;
		font-family: 'Helvetica Neue';
	}
	// page start
	.home_container {
		width: 80%;
		margin: 0 auto;
		max-width: 1524px;
	}
	// about
	.info_detail {

		.sub_title {
			@include flex();
			align-items: flex-start;
			line-height: 2.0625rem;
			color: #242532;

			h2 {
				font-size: 2rem;
				font-weight: 700;
				font-family: 'Helvetica Neue';
			}

			.info_cont {
				padding-left: 7rem;

				h3, h5 {
					padding-bottom: 1.3rem;
				}
				
				h5 {
					font-weight: 100;
				}

				p {
					line-height: 2;
				}
			}
		}
	}
	// slider
	.info_slide {
		width: 80%;
		padding: 10rem 0 7rem;
		margin: auto;

		.skill_swiper {
			width: 100%;

			.swiper_slide {
				@include flex('center');
				flex-wrap: wrap;

				.slide_wrapper {
					width: 33.333%;
					padding: 5rem 0;
					text-align: center;
					margin: 0 auto;

					img {
						opacity: 0;
						transform: translateY(30%);

						&.fadeIn {
							animation: aniFade 4s ease-in-out forwards;
						}
					}

					
				}
			}
			
		}
	}
	// skill
	.info_skill {
		width: 1100px;

		.skill_title {
			margin: 4rem 0 5rem;
			text-align: center;

			h2 {
				display: inline-block;
				color: #000;
				font-size: 1.3rem;
				word-break: keep-all;
				line-height: 1;
				padding: 0.7rem;
				background: linear-gradient(-45deg, #9df6dd, #a89be2, #fdd0f6, #9ae4fa);
				border-radius: 50px;
				font-weight: 800;
				margin-bottom: 1.4rem
			}

			h3 {
				font-size: 2.8rem;
				font-weight: 800;
			}
		}

		.skill_cont {
			@include flex('between');
			align-items: flex-start;

			.sub_title {
				width: 65%;
				line-height: 2.1;
			}
			.skill_list {
				width: 25%;

				li {
					font-size: 1.1rem;
					font-weight: 700;
					font-family: 'Helvetica Neue';
    				line-height: 2.3rem;
					position: relative;
					color: #242532;
					padding-left: 3.325rem;

					&::before {
						@include pseudo-element(2rem, 0.0625rem, 1.1rem, 0);
						background-color: #242532;
					}
				}
			}
		}
		
	}
	// work
	.main_content { 
		padding: 15rem 0;
        .main_grid {
			@include flex('between');
			flex-wrap: wrap;
			align-items: flex-start;
			width: 80%;
			margin-bottom: 4rem;
			margin: auto;
			
			.main_list_box {
				width: 32%;

				> div{
					width: 100%;
					height: 100%;

					a {
						display: block;
						width: 100%;
						height: auto;

						.box_img {	
							position: relative;
							display: block;
							width: 100%;
							height: 28rem;
							box-shadow: rgba(195, 171, 206, 0.1) 0px 0px 5px 0px, rgba(235, 192, 250, 0.1) 0px 0px 1px 0px;
							border-radius: 15px;
							overflow: hidden;

							img {	
								object-fit: cover;

								&:hover, &:focus {
									transition: all 477ms cubic-bezier(0.16, 0.01, 0.77, 1);
								}
							}
						}
		
						.box_text {
							width: 100%;
							height: auto;
							padding: 1.3rem 0;
							line-height: 1.2;
		
							p {
								color:  #000;
								font-size: 1.3rem;
		
								&:nth-child(1) {
    								font-weight: 700;
								}

								&:nth-child(2) {
    								padding: .5rem 0;
									font-size: 1.6rem;
								}
							}
						}
					}
				}
				
			}
		}
    }
	// work button
	.info_work {
		width: auto;
		max-width: 1400px;
		padding: 13.75rem 0px;
		margin: 0px auto;
		position: relative;

		.link_container{
			
			a {
				@include flex('center');
				flex-wrap: nowrap;
				width: max-content;
				overflow: hidden;
				margin: 0rem 0.25rem;
				padding: 1.5rem 0px;
				animation: 70s linear 0s infinite normal none running aniSlideLeft;

				&:hover {
					text-decoration: none;

					.text_list {
						
						span {
							color:#fff !important;
							-webkit-text-stroke: 2px #fff;
						}
					}
				}

				.text_list {
					@include flex('center');

					span {
						text-transform: uppercase;
						margin: 0px 1.875rem;
						color: transparent !important;
						-webkit-text-stroke: 2px #fff;
						transition: color 0.2s ease-in-out;
						font-size: 10rem;
					}

					svg {
						transform: translateY(8px);
					}
				}
			}
		}
	}
}