@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* home */
.home_detail {
	position: absolute;
    width: calc(100% - 15rem);
	min-width: 1000px;
	padding: clamp(5rem, 24rem, 20rem) clamp(5rem, 5rem, 5vw) 0 clamp(5rem, 10rem, 10rem);
	font-size: clamp(1rem, 1.5vw, 1.2rem);
    background: #f0f3ff;
	transition: all .5s;
    transition-delay: 0s;
    overflow-x: hidden;
    z-index: 10;

	&.active01 {
		background: #f9f7f1;
		transition: .5s;
		transition-delay: .5s;
	}

	&.active02 {
		background: #000;
		transition: .5s;
		transition-delay: .5s;

		* {
			color: #fff !important;
			transition: .5s;
			transition-delay: .5s;
		}
	}
}