@use "@styles/common" as *;

/* home */
.home_detail {
	position: absolute;
	width: calc(100% - 160px);
	min-width: 1000px;
	padding: 120px 80px 160px; 
	font-size: 16px; 
	background: #F4F6FF;
	transition: all 0.5s;
	transition-delay: 0s;
	overflow-x: hidden;
	z-index: 10;

	&.active01 {
		background: #303030;
		transition: 0.5s;
		transition-delay: 0.5s;
		* {
			color: #fff !important;
			transition: 0.5s;
			transition-delay: 0.5s;
		}
	}
}