$lang: '';
$mainColor: #254fef;
$mainColorDark: #d14300;
$subColor: #ffa500;
$pointColor: $mainColor;

$cdn: '//siwon-cdn.siwonschool.com/' + $lang;
$img: '//img.siwonschool.com/' + $lang;

$cdnComm: '//siwon-cdn.siwonschool.com/comm';
$imgComm: '//img.siwonschool.com/comm';

// Variables
$color-black: #000;
$color-blue: #2f62cb;
$color-light-blue: #278dea;
$color-gray: #999;
$color-dark-gray: #666;
