@use "@styles/common" as *;

.guestbookSection {
	width: calc(100vw - 8.6vw);
	color: #000;
	background: #f6f7fa;
	padding: 16vw 4.3vw;

	.guestbookWrap {
		width: 100%;
		margin: 0 auto;

		.title {
			width: 100%;
			font-size: 5vw;
			font-weight: 700;
			margin-bottom: 5.333vw;
		}

		.write_detail {
			@include flex('column');
			align-items: flex-start;
			margin: 0 auto;
			width: 100%;
		}
	}
}