@import '@styles/abstracts/_mixins';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

.join_step1 {
    .policy_wrap {
        position: relative;
        margin-top: 20px;
        background: #fff;
    }

    .txt_mark {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        text-align: right;
        color: #2f62cb;
    }

    .ck_box {
        position: relative;
        padding: 22px 22px 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        background: #fff;
        color: #666;

        .label {    
            font-size: 18px;
            font-weight: bold;
            background: #fff;
            color: #333;        
            vertical-align: top;
        }

        &.top {
            border-top: 1px solid #333;
        }

    }

}