.swiper {
	width: 100%;
	box-sizing: border-box;

	.swiper_slide {
		width: auto;

		&:hover {
			transform: scale(1.05);
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}

		&:after {
			font-size: 24px;
		}
	}

	.swiper-button-prev {
		left: 10px;
	}

	.swiper-button-next {
		right: 10px;
	}

	.swiper-pagination {
		bottom: 10px;
		text-align: center;
	}

	.swiper-pagination-bullet {
		background: #ffffff;
		opacity: 0.7;
		transition: opacity 0.3s;

		&-active {
			opacity: 1;
		}
	}
}
