.swiper {
	width: 100%;
	box-sizing: border-box;
}
.swiper-button-prev, .swiper-button-next {
	top: 10px;
}
// .swiper-button-prev {
// 	left: -50px;
// }
// .swiper-button-next {
// 	right: -50px;
// }
.swiper-button-prev:after, .swiper-button-next:after {
	color: #fff;
	font-size: 23px;
}
