@use "@styles/common" as *;

.user_contents {
    @include flex('');
    padding: 1.6vw 0;

    .user_img {
        position: relative;
        width: 5.067vw;
        height: 5.067vw;
        border-radius: 50%;
        overflow: hidden;
        border: 0.667vw solid #ffffff;
    }

    b {
        padding-left: 1.333vw;
        font-size: 3vw;
        color: #000000;
        font-weight: 400;
        letter-spacing: -1.5px;
    }
}