@import '@styles/abstracts/_mixins';

.pagination {
	padding: 25px 0;
	.page_list {
		@include flex($align: 'center');
		justify-content: center;

		.page_num,
		.page_num_on {
			@include flex($align: 'center');
			display: inline-block;
			width: 1.5rem;
			height: 2.25rem;
			margin: 0 1rem;
			border: none;
			font-size: 1.34rem;
			font-weight: 500;
			color: #141414;
			background: transparent;
			cursor: pointer;

			&:hover {
				color: #FC6454;
			}
		}

		.page_num_on {
			color: #FC6454;
		}

		.page_prev,
		.page_next {
			width: 6rem;
			height: 2.25rem;
			background: transparent;
			border: none;
			color: #141414;
			font-size: 1.5rem;
			font-weight: 400;
			cursor: pointer;
			transition: color 0.3s;

			&:disabled {
				color: #b6b6b6;
				cursor: default;
			}

			&:hover:not(:disabled) {
				color: #FC6454;
			}
		}
	}
}
