@use "@styles/common" as *;

.writeForm {
	width: 100%;

	textarea {
		width: calc(100% - 4.267vw);
		min-height: 20.4vw;
		border: 0.133vw solid #c3d8ff;
		border-radius: 1.067vw;
		padding: 2.133vw;
		font-size: 3vw;
		resize: none;
		background: #fff;
		color: #000;
		outline: none;
		letter-spacing: -1.3px;
    	font-weight: 400;
		box-shadow: 0 0.533vw 1.6vw #8686861a;

		&.off {
			border: 0.133vw solid #d6e4ff;
			cursor: not-allowed;
		}
	}
}