@use "@styles/common" as *;

.writeForm {
	width: 100%;

	textarea {
		width: calc(100% - 32px);
		min-height: 153px;
		border: 1px solid #c3d8ff;
		border-radius: 8px;
		padding: 16px;
		font-size: 18px;
		resize: none;
		background: #fff;
		color: #000;
		outline: none;
		box-shadow: 0 4px 12px #8686861a;

		&.off {
			border: 1px solid #d6e4ff;
			cursor: not-allowed;
		}
	}
}