@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* info */
.work_view {
	position: absolute;
	width: calc(100% - 10vw);
	min-width: 1000px;
	padding: clamp(5rem, 24vw, 20rem) clamp(5rem, 5vw, 5vw) clamp(5rem, 10vw, 10rem);
	font-size: clamp(1rem, 1.5vw, 1.2rem);
	background: #f0f3ff;
	transition: all .5s;
	transition-delay: 0s;
	overflow-x: hidden;
	z-index: 10;


	&.active {
		background: #000;
		transition: .3s;
		transition-delay: .3s;

		* {
			color: #fff !important;
			transition: .3s;
			transition-delay: .3s;

			.project_btn {
				a {
					border-bottom: 1px solid #fff !important;
				}
			}
		}
	}

	//next page button 
	.work_view_btn,
	.project_btn {

		a {
			position: relative;
			display: inline-block;
			padding: 1.5rem 2rem 1.5rem;
			border-bottom: 2px solid #000;
			margin: auto;

			span {
				display: block;
				font-size: 2rem;
				color: #000;
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				background-color: #ffd810;
				transform-origin: bottom left;
				transform: scaleY(0);
				transition-duration: 380ms;
				z-index: -1;
			}

			&:hover {
				text-decoration: none;

				&::before {
					transform: scaleY(1);

				}
			}
		}
	}

	.work_detail_veiw {

		header {

			.work_detail_title {
				font-size: clamp(3.8rem, 13.375vw - 2.9rem, 13.375rem);
				font-weight: 700;
				line-height: 2.375rem;
				margin-bottom: clamp(4.8rem, 11.375vw - 1.675rem, 14.375rem);
				text-transform: uppercase !important;
				letter-spacing: -1.6rem;
			}

			.detail_sub_title {
				@include flex();
				align-items: flex-start;
				line-height: clamp(1.5rem, 2.2vw, 2.0625rem);
				color: #242532;

				h2 {
					font-size: clamp(2rem, 1vw, 2rem);
					font-weight: 700;
					line-height: 1;
				}

				.sub_title_cont {
					padding-left: clamp(2rem, 5vw, 7rem);

					h3,
					h5 {
						padding-bottom: clamp(.8rem, 5.5vw, 1.3rem);
						font-size: clamp(1.2rem, 1vw, 2rem);
						font-weight: 300;
						line-height: 1.2;
					}
				}
			}
		}

		// main
		main {

			.link_page {
				position: relative;
				@include flex('between');
				align-items: flex-start;
				width: calc(100% - 10vw);
				left: -5vw;
				padding: 10vw;
				margin-top: 3vw;
			}

			.notice_txt {
				display: inline-block;
				width: 100%;
				font-size: clamp(1rem, 2vw, 1.1rem); 
				font-weight: 100;
				text-align: center;
				padding: 5rem 0;
				color: #333;
			}

			.row {
				width: 100%;
				padding: 5rem 0;
			}

			.grid_100 {
				position: relative;
				width: calc(100% + 12rem);
				height: 67rem;
				left: -6rem;

				@media (max-width: 768px) {
					width: 100%;
					left: 0;
				}
			}

			.grid_90 {
				position: relative;
				width: 90%;
				height: 50rem;

				@media (max-width: 768px) {
					width: 100%;
					height: 40rem; 
				}
			}

			.grid_80 {
				position: relative;
				width: 80%;
				height: 46rem;
				margin: auto;

				&.lo_left {
					margin: inherit;
					margin-right: auto;
				}

				&.lo_right {
					margin: inherit;
					margin-left: auto;
				}

				@media (max-width: 768px) {
					width: 100%;
					height: 35rem;
				}
			}

			.grid_60 {
				position: relative;
				width: 60%;
				height: 42rem;
				margin: auto;

				@media (max-width: 768px) {
					width: 100%;
					height: 30rem;
				}
			}

			.grid_50 {
				position: relative;
				width: 49%;
				height: 30rem;
				filter: drop-shadow(0 4px 12px #00000029);

				@media (max-width: 768px) {
					width: 100%;
					height: 25rem;
				}
			}

			.grid_40 {
				@include flex('between');
				align-items: flex-start;
				width: 100%;
				margin: auto;

				li {
					position: relative;
					width: 49%;
					height: 32rem;

					@media (max-width: 768px) {
						width: 100%; 
						height: 20rem;
					}
				}

				@media (max-width: 768px) {
					display: block;
					width: 100%;
				}
			}

			.grid_30 {
				position: relative;
				width: 30%;
				height: clamp(8.8rem, 73rem, 102rem);
				filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.16));
				border-radius: 20px;
				overflow: hidden;

				@media (max-width: 768px) {
					width: 100%;
					height: clamp(6rem, 40rem, 80rem);
				}
			}
			article {
				width: 70%;
				margin: auto;
				padding: 5rem 0;

				.grid_40 {
					width: 100% !important;

					ul {
						width: 50%;
						font-size: 1.2rem;

						li {
							width: auto !important;
							height: auto !important;
							padding-bottom: 1.4rem;
							line-height: clamp(1rem, 2vw, 6.2rem);

							h4 {
								font-weight: 800;
								font-size: clamp(1rem, 1vw, 5.2rem);

							}

							p {
								font-weight: 300;
								font-size: clamp(1rem, 1vw, 5.2rem);
							}

							span {
								display: inline-block;
							}

							.project_btn {
								margin-top: 3rem;

								a {
									padding: 1rem 2rem 1rem;

									span {
										font-size: 1.4rem;
										font-weight: 700;
									}
								}
							}
						}
					}
				}
			}
		}

		// work list button
		.next_project_btn {
			text-align: center;
			padding: 14rem 0;

			h2 {
				transition: transform .3s;

				a {
					font-size: clamp(3.8rem, 12.375vw - 1.675rem, 23.375rem);
					color: transparent !important;
					transition: color 0s;
					-webkit-text-stroke: 5px #fff;
					line-height: 1;
				}

				&:hover {
					transform: scale(1.1);
					transition: transform .3s;

					a {
						color: #fff !important;
						transition: color 0s;
						-webkit-text-stroke: 5px #fff;
					}
				}
			}
		}

		// all work list button
		.all_project_btn {
			text-align: center;

			a {
				border-bottom: 2px solid #fff;
				font-size: clamp(1rem, 2vw, 1.2rem);
				padding: clamp(0.5rem, 2vw, 1rem);

				span {
					font-weight: 700;
					font-size: clamp(1rem, 1.6vw, 2.2rem)
				}

				&:hover {
					span {
						color: #333 !important;
						transition: 0s;
					}
				}
			}
		}
	}
}