@import '@styles/abstracts/_mixins';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';
.inner_container  {
	.siwon_board {
		width: 1100px;
		margin: auto;
		.post_header {
			@include flex($align: 'between');
			align-items: flex-end;
			padding-bottom: 25px;
			.post_header_left {
				.post_title {
					h2 {
						margin-top: 50px;
						font-size: 22px;
						font-weight: bold;
						color: #222;
						span {
							color: #1e57ab;
						}
					}
				}
				.post_filter {
					padding-top: 16px;
				}
			}
			.post_header_right {
				.post_button {
					li {
					}
				}
			}
			> div {
				> ul {
					@include flex($align: 'between');
					> li {
						margin-right: 7px;
					}
				}
			}
		}
		.post_table {
			padding-bottom: 25px;
		}
	}
}

