@use "@styles/common" as *;

.post_submit_btn {
    width: 100%;

    button {
        @include flex('center');
        width: 100%;
        color: #fff;
        font-weight: 400;
        padding: 2vw 3.2vw;
        border-radius: 1.067vw;
        font-size: 3.5vw;
        margin-top: 1.6vw;
        border: none;
        transition: all 0.3s;
        background: #0070f3;
        cursor: pointer;

        &:hover {
            background: #000;
        }

        &:disabled {
            background: #aaa;
            cursor: not-allowed;
        }

        span {
            @include flex('center');

            i {
                display: inline-block;
                width: 3vw;
                height: 3vw;

                &.ico_send {
                    margin: 0.267vw 0 0 1.067vw;
                    background: url('/images/ico_send.png') no-repeat center/contain;
                }

                &.ico_git {
                    width: 4.333vw;
                    height: 4.333vw;
                    background: url('/images/ico_login_github.png') no-repeat center/contain;
                    transform: translate(-1.067vw, -0.133vw);

                    &+span {
                        font-weight: 500;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }
}