// 임포트
@import '@styles/abstracts/_mixins';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';


.slider_block {
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .slider_tabs {
        width: 100%;
        height: 55px;
        overflow-x: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
        border-bottom: 1px solid #191919;

        &::-webkit-scrollbar {
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #ddd;
        }

        &::-webkit-scrollbar-thumb {
            background: #999;
            border-radius: 10px;

            &:hover {
                background: #555;
            }
        }

        .nav {
            width: auto;
            height: 100%;
            margin: 0 auto;
        }
    }

    .nav {
        ul {
            margin: 0;
            display: flex;
        }

        li {
            flex: 0 0 auto;
            position: relative;
            min-width: 53px;
            padding: 16px 6.8px;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            white-space: nowrap;

            span {
                display: block;
                text-align: center;
                font-size: 15px;
                font-weight: 350;
                bottom: -4px;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    width: 0;
                    height: 3px;
                    background: #254fef;
                    z-index: 1;
                    transform: translateX(-50%);
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                }
            }

            &.on span {
                &::before {
                    width: 50%;
                }
                color: #254fef;
                font-weight: bold;
            }
        }
    }

    .slider_inner_block {
        position: relative;
        margin: 0;

        .box {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            margin: 0 auto;
            background: #eee;
        }

        .img_box {
            display: block;
            position: relative;
            text-align: center;

        }

        .txt_box {
            position: relative;
            z-index: 1;
            text-align: center;

            .site {
                color: #191919;
                font-size: 17px;
                letter-spacing: -2px;
            }

            .tit {
                font-size: 27px;
                line-height: 35px;
            }

            .tit01 {
                color: #000;
                margin-top: 20px;
                font-weight: 300;
            }

            .tit02 {
                color: #254fef;
                font-weight: bold;
            }

            .desc {
                margin-top: 13px;
                color: #666;
                font-size: 15px;
                font-weight: 350;
            }
        }

        .bt_go {
            display: none;
        }
    }

    // 모바일 스타일
    &.mobile {
        .slider_tabs {
            height: 45px;
            border-bottom: 0;

            .nav {
                width: 1380px;
                margin-left: 15px;
            }
        }

        .slider_inner_block {
            .box {
                padding-bottom: 35px;
                border-radius: 0;
                background: none;
            }

            .img_box {
                top: 0;
                left: 0;
                padding-top: 20px;
                background: #eee;

            }

            .txt_box {
                margin-top: -20px;
                padding: 0;
                
                .site {                    
                    display: inline-block;
                    padding: 8px 20px;
                    border-radius: 30px;
                    background: #254fef;
                    color: #fff;
                    text-align: center;
                    box-sizing: border-box;
                    letter-spacing: -0.5px;
                }
                
                .desc {
                    margin-top: 13px;
                }

                .s_desc {
                    position: static;
                    margin-top: 20px;
                }

                .tit {
                    font-size: 27px;
                    line-height: 35px;
                }

                .tit01 {
                    margin-top: 20px;
                }
            }
        }
    }

    // 데스크톱 스타일
    &.desktop {
        .slider_tabs {
            .nav {
                display: table;
                height: 55px;
            }
        }

        .swiper_navigation {
            .arrows {
                z-index: 10;
                position: absolute;
                top: 170px;
                border: 0;
                background: none;
                width: 70px;
                height: 70px;
                outline: none;
            }

            .prev {
                left: -10px;
            }

            .next {
                right: -10px;
            }
        }

        .slider_inner_block {
            margin: 81px 0 100px 0;

            .box {
                max-width: 1100px;
                height: 462px;
                border-radius: 20px;
            }

            .img_box {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .txt_box {
                padding: 100px 0 0 72px;
                text-align: left;

                .site {
                    color: #191919;
                    font-size: 17px;
                    letter-spacing: -2px;
                }

                .tit {
                    font-size: 45px;
                    letter-spacing: -2.5px;
                    line-height: 55px;
                }

                .tit01 {
                    line-height: 50px;
                }

                .desc {
                    margin-top: 10px;
                }

                .s_desc {
                    position: absolute;
                    right: 55px;
                    bottom: 50px;
                    color: #aaa;
                    font-size: 12px;
                    font-weight: 250;
                }
            }

            .bt_go {
                display: block;
                width: 110px;
                height: 35px;
                margin-top: 45px;
                font-size: 15px;
                padding: 6px 0;
                border-radius: 30px;
                background: #254fef;
                color: #fff;
                text-align: center;
                box-sizing: border-box;
            }
        }
    }
}