@import '@styles/abstracts/_mixins';

@mixin blind-style($blind-color) {	
	position: absolute;
    width: 100%;
	height: 100vh;
	min-height: 100%;
	background-color: $blind-color;
    z-index: 4;
}
  
.blind_base {
	@include blind-style(#a3bded);
}

.blind_mint {
	@include blind-style(#50BFAE);
}

.blind_coral {
	@include blind-style(#FF6F61);
}

.blind_lavender {
	@include blind-style(#A57BBE);
}

.blind_orange {
	@include blind-style(#FF9F00);
}

.blind_pastel_blue {
	@include blind-style(#4A90E2);
}

.blind_dark_blue {
	@include blind-style(#9eaab7);
}

.blind_white_blue {
	@include blind-style(#e3e4ff);
}
