@use "@styles/common" as *;


@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes slideUp {
	to {opacity: 1; transform: translateY(0);}}


.introSection {
	width: 100vw;
	position: relative;
	padding: 26.667vw 0 24vw;
	margin: auto;


	.textWrapper {
		text-align: center;
		line-height: 1.6;

		.text {
			font-size: 8vw;
			font-weight: 700;
			color: #000;
			opacity: 0;
			transform: translateY(6.667vw);
			animation: slideUp 1s ease forwards;
			
			textPath {
				letter-spacing: normal;
			}
			span {
				color: #0070f3;
			}
		}
	}

	.roundTextWrapper {
		position: relative;
		display: block;
		width: 20vw;
		height: 20vw;
		margin: auto;
		top: 10.667vw;
		animation: rotate 10s linear infinite;

		.roundText {
			width: 100%;
			height: 100%;

			text {
				fill: #000;
				font-size: 20px;
				letter-spacing: 1.3;
			}
		}

		.dot {
			fill: #000;
		}
	}
}