@use "@styles/common" as *;

.info_detail {
	width: 1200px;
	margin: auto;

	h3,
	h5 {
		font-size: 40px;
		font-weight: 700;
	}

	.sub_title {
		@include flex();
		align-items: flex-start;
		line-height: 33px;
		color: #242532;

		h2 {
			display: block;
    		width: 180px;
			font-size: 30px;
			font-weight: 500;
			line-height: 1.1;
		}

		.info_cont {
			padding-left: 30px;

			h3,
			h5 {
				padding-bottom: 20px;
				line-height: 1;
			}

			h5 {
				font-weight: 100;
			}

			p {
				font-weight: 300;
				line-height: 2;
			}

			.contact_cont {
				@include flex('center');
				justify-content: flex-start;
				gap: 70px;
				height: 50px;
				padding: 12px 20px 7px;
				border-radius: 10px;
				background: #fff;
				margin-top: 20px;

				.title {
					font-size: 20px;
				}

				.list {
					@include flex('center');
					gap: 12px;

					b {
						position: relative;
						display: inline-block;
						width: 36px;
						height: 36px;
						border-radius: 50%;
						background: linear-gradient(90deg, #4366db -8.75%, #6d87df 106.25%);

						i {
							position: absolute;
							display: inline-block;
							width: 100%;
							height: 100%;
						}

						&.ico_mail {
							i {
								background: url(/images/ico_mail.png) center no-repeat;
								background-position: 5px 5px;
							}
						}

						&.ico_call {
							i {
								background: url("/images/ico_call.png") no-repeat center;
								background-position: 9px 7px;
							}
						}

					}
					span {
						font-size: 16px;
						font-weight: 300;
						color: #333;
					}
				}
			}
		}
	}
}