@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

// about
.info_detail {

	h3,
	h5 {
		font-size: clamp(1.8rem, 2.5vw, 2.3rem);
		font-weight: 700;
	}

	.info_title {
		font-size: clamp(8.8rem, calc(-1.675rem + 13.375vw), 14.375rem);
		font-weight: 700;
		line-height: 2.375rem;
		margin-bottom: 8rem;
		text-transform: uppercase !important;
	}

	.sub_title {
		@include flex();
		align-items: flex-start;
		line-height: clamp(1.5rem, 2.2vw, 2.0625rem);
		color: #242532;

		h2 {
			font-size: clamp(1.5rem, 2.5vw, 2rem);
			font-weight: 700;
		}

		.info_cont {
			padding-left: clamp(2rem, 5vw, 7rem);

			h3,
			h5 {
				padding-bottom: clamp(.8rem, 5.5vw, 1.3rem);
				line-height: 1;
			}

			h5 {
				font-weight: 100;
			}

			p {
				font-weight: 300;
				line-height: 2;
			}
		}
	}
}