@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';


.info_items {
	position: relative;
	width: 100%;
	padding-bottom: 15rem;

	.items_box {
		@include flex('center');
		flex-wrap: wrap;

		.slide_wrapper {
			width: 25%;
			padding: 3rem 0;
			text-align: center;
			margin: 0 auto;

			img {
				width: 24%;
				height: auto;
			}
		}
	}
}