@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

@keyframes aniFade {
	0% {opacity: 0; transform: translateY(30%);}
	10%, 90% {opacity: 1; transform: translateY(0%);}
	100% {opacity: 0; transform: translateY(-30%);}
}


.info_slide {
	position: relative;
	width: 100%;
	padding: 10rem 0;

	.skill_swiper {
		width: 100%;
		height: 35rem;
		margin: auto;

		.swiper_slide {
			@include flex('center');
			flex-wrap: wrap;

			.slide_wrapper {
				width: 33.333%;
				text-align: center;
				margin: 0 auto;

				img {
					width: 24%;
					height: auto;
				}
			}
		}
	}
}