@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* animation */
@keyframes aniSlideLeft {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(-49.999%, 0px);}
}

.info_work {
    position: relative;
	width: calc(100% + 10rem);
    left: -5rem;
    padding: clamp(8rem, 12vw, 13.75rem) 0;
    margin: 0 auto;
    overflow: hidden;

	.link_container {
		a {
			@include flex('center');
			flex-wrap: nowrap;
			width: max-content;
			overflow: hidden;
			margin: 0 clamp(0.2rem, 0.5vw, 0.25rem);
			padding: clamp(1rem, 2vw, 1.5rem) 0;
			animation: 70s linear 0s infinite normal none running aniSlideLeft;

			&:hover {
				text-decoration: none;

				.text_list {
					span {
						color: #fff !important;
						-webkit-text-stroke: 2px #fff;
					}
				}
			}

			.text_list {
				@include flex('center');

				span {
					text-transform: uppercase;
					margin: 0 clamp(1rem, 2vw, 1.875rem);
					color: transparent !important;
					-webkit-text-stroke: 2px #fff;
					transition: color 0.2s ease-in-out;
					font-size: clamp(5rem, 8vw, 10rem);
				}

				svg {
					transform: translateY(clamp(4px, 1vw, 8px));
				}
			}
		}
	}
}