.agree_cont {
    overflow-y: scroll;
    height: 96px;
    font-size: 12px;
    color: #666;
    -webkit-overflow-scrolling: touch;

    h5 {
        font-size: 13px;
        line-height: 24px;
        color: #999;
    }

    h4 {
        padding-top: 20px;
        font-size: 12px;
        line-height: 1.6;
        color: #666;
        font-weight: bold;
    }

    li,
    p {
        font-size: 12px;
        line-height: 1.6;
        color: #666;
    }

    em {
        display: block;
        padding-top: 15px;
    }

    ol > li {
        padding-top: 15px;
    }

    table {
        border-collapse: collapse;
        font-size: 12px;
        line-height: 1.6;
        color: #666;

        th,
        td {
            padding: 3px 5px;
            border: 1px solid #999;
        }
    }
}

.agree_sum {
    overflow: hidden;
    margin: 18px -2px -2px -2px;

    table {
        th,
        td {
            border: 2px solid #eee;
            background: #fff;
            letter-spacing: -0.02em;
        }

        &.left {
            width: 56%;
            th:last-child,
            td:last-child {
                border-right: 0;
            }
        }

        th {
            padding: 20px 0;
            color: #000;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }

        td {
            padding: 14px 20px;
            color: #999;
            font-size: 14px;
            line-height: 1.6;
        }
    }
}

.desc {
    padding: 22px 0;
    font-size:12px;
}