@use "@styles/common" as *;

.fakeFrame {
  position: relative;
  padding: 120px 0;

  .fake {
    position: absolute;
    width: 100%;
    height: 800px;

    &:last-child {
      bottom: 0;
    }
  }
}

.projectSection {
  position: relative;
  margin: auto;
  z-index: 1;

  .sub_title {
    font-size: 15px;
    color: #2957e2;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;
  }

  >.title {
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #000;

    span {
      font-weight: 600;
      padding: 0 3px;
    }
  }

  .projectGrid {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    gap: 32px;

    .projectCard {
      position: relative;
      width: 550px;
      min-height: 400px;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border: 1px solid #ecf5ff;

      .image {
        position: relative;
        width: 100%;
        height: 170px;

        img {
          position: absolute;
          object-fit: cover;
          filter: brightness(0.9);
        }
      }

      .badgeContainer {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        top: 16px;
        left: 16px;

        .badge {
          color: #fff;
          background-color: #0070f3;
          font-size: 13px;
          padding: 2px 8px 5px;
          border-radius: 4px;
          font-weight: 500;
          letter-spacing: normal;
        }
      }

      .websiteBtn {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        background-color: #ff10108a;
        font-weight: 500;
        z-index: 2;
        letter-spacing: normal;
      }

      .CardContents {
        position: relative;
        height: 270px;
        padding: 15px 24px;
        border-top: 1px solid #dbdbdb;

        .CardContentsTop {
          @include flex('column');
          gap: 8px;

          * {

            font-weight: 400;
            letter-spacing: -1.2px;
          }

          .title {
            font-size: 20px;
            font-weight: bold;
            margin-top: 8px;
          }

          .subtitle {
            font-size: 14px;
            color: #0070f3;
          }

          .company {
            font-size: 16px;
            color: #000000;

          }

          .descriptionList {
            font-size: 15px;
            color: #000;
            list-style: none;
            padding-left: 0;
            line-height: 1.6;
          }

        }

        .linkButtons {
          @include flex('center');
          justify-content: flex-start;
          width: calc(100% - 48px);
          position: absolute;
          height: 45px;
          gap: 16px;
          border-top: 1px solid #dadada;
          bottom: 0;

          a {
            @include flex('center');
            gap: 5px;
            font-size: 15px;
            font-weight: 500;
            color: #000;
            letter-spacing: normal;

            i {
              display: inline-block;
              width: 18px;
              height: 18px;

              &.ico_git {
                background: url('/images/ico_git_link.png') no-repeat center/contain;
              }

              &.ico_web {
                background: url('/images/ico_web_link.png') no-repeat center/contain;
              }

              &.ico_read {
                background: url('/images/ico_read_link.png') no-repeat center/contain;
              }

              &.ico_figma {
                background: url('/images/ico_fig_link.png') no-repeat center/contain;
              }
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}