@use "@styles/common" as *;

.projectListWrapper {
	width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 0 auto;
}

.projectItem {
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 16px 24px;
	border-radius: 12px;

	.leftArea {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex: 1;

		.badgeContainer {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;

			.badge {
				background-color: #4776f3;
				color: white;
				font-size: 12px;
				padding: 4px 8px;
				border-radius: 4px;
				font-weight: 500;
			}
		}

		.projectTitle {
			font-size: 16px;
			font-weight: 600;
		}
	}

	.projectMeta {
		font-size: 14px;
		font-weight: 400;
		color: #fff;

		.rightArea {
			flex: 1.5;
			display: flex;
			flex-direction: column;
			gap: 6px;
			font-size: 14px;
			line-height: 1.5;
			padding-left: 24px;
		}
	}
}