@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';


.sub_content {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 13rem;

	.sub_content_title {
		display: ruby-text;
		background: linear-gradient(-45deg, #a89be2, #fdd0f6, #9ae4fa) !important;
		color: transparent !important;
		-webkit-background-clip: text !important;
		font-size: clamp(2.8rem, 11.75vw - 3.675rem, 14.375rem);
		font-weight: 900;
		line-height: 2.375rem;
		margin-bottom: 5rem;
		text-transform: uppercase !important;
	}
	
	.sub_list_box { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid  #fff;
		padding: 1rem 0;

		.box_left {
			width: 60%;
			line-height: 1.5;

			h4 {
				font-weight: 700;
				font-size: 1rem;
			}

			h3 {    
				font-size: 1.8rem;
				font-weight: 400;
				padding: 0.7rem 0 1rem;
				line-height: 1;
			}

			.date {
				display: inline-block;
				border-radius: 50px;
				background: linear-gradient(-45deg, #9df6dd, #a89be2, #fdd0f6, #9ae4fa);
				font-size: .9rem;
				color: #000 !important;
				font-weight: bold;
				padding: .0625rem .5625rem .2rem ;
			}
		}
		
		.box_right {
			width: 50%;
			text-align: right;
			p {
				font-size: 1.15rem;
			}
		}
	}
}