.ck_box {
    position: relative;
    padding: 22px 22px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #666;

    .label {    
        font-size: 16px;
        font-weight: bold;
        background: #fff;
        color: #333;        
        vertical-align: top;
    }

    .txt_noti {
        position: absolute;
        bottom: 11px;
        left: 56px;
        font-size: 12px;
        line-height: 12px;
        color: #e83428;
    }

    .btn_more {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 22px;
    }
    
    .subcheck{
        padding: 22px 0px 0px;

        .radioContainer {
            display: inline-block;
            margin-right: 30px;
        }
    }
    
    .em {
        font-size: 14px;
        color: #999;
        font-weight: bold;

        &.checked {
            color: #2f62cb
        }
    }

    .policy_box {
        margin-top: 15px;
        padding: 11px 22px;
        border-top: 1px solid #eee;
    }
}