@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

@keyframes fadeUp {
	0% { opacity: 0; transform: translateY(30px);}
	100% {opacity: 1; transform: translateY(0);}
}
 
/* info */
.info_view {
	position: absolute;
	width: 100%;
	padding: 16rem 0 0 0;
	background: #f5f5f8;
	transition: opacity 1s ease;
	z-index: 10;

	h3, h5 {
		font-size: 1.75rem;
		font-weight: 700;
		font-family: Helvetica;
	}
	
	.info_container {
		width: 90%;
		margin: 0 auto;
		max-width: 1524px;
	}

	.info_detail {

		.info_title {
			font-size: 6rem;
			font-weight: 900;
			line-height: 2.375rem;
			margin-bottom: 8rem;
			font-family: Helvetica;
		}

		.sub_title {
			@include flex();
			align-items: flex-start;
			line-height: 2.0625rem;
			color: #242532;

			h2 {
				width: 13%;
				font-size: 1.75rem;
				font-weight: 700;
				font-family: Helvetica;
			}

			.info_cont {
				width: 87%;

				h3, h5 {
					padding-bottom: 1.3rem;
				}
				
				h5 {
					font-weight: 100;
				}

				p {
					line-height: 2;
				}
			}
		}
	}

	.skill_swiper {
		width: 1000px;
		padding: 10rem 0;
		.slideWrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			.logo {
				width: 150px;
				height: auto;
				margin: 0 auto;
				animation: fadeUp 1s ease-in-out;
				animation-fill-mode: both;
			}
		}
			
	}

	.info_skill {
		width: 1100px;
		padding: 16rem 0;

		.skill_title {
			margin: 4rem 0 3rem;
			text-align: center;

			h2 {
				display: inline-block;
				color: #fff;
				font-size: 1rem;
				word-break: keep-all;
				line-height: 1;
				padding: 0.7rem;
				background: $subColor;
				border-radius: 50px;
				font-weight: 800;
				margin-bottom: 1.4rem
			}

			h3 {
				font-size: 2.5rem;
				font-weight: 800;
			}
		}

		.skill_cont {
			@include flex('between');
			align-items: flex-start;

			.sub_title {
				width: 60%;
				line-height: 2.1;
			}
			.skill_list {
				width: 30%;

				li {
					font-size: 1.125rem;
					font-weight: 700;
					font-family: Helvetica;
    				line-height: 2.3rem;
					position: relative;
					color: #242532;
					padding-left: 3.325rem;

					&::before {
						@include pseudo-element(2rem, 0.0625rem, 1.1rem, 0);
						background-color: #242532;
					}
				}
			}
		}
		
	}
}