@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* animation */
@keyframes aniSlideLeft {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(-49.999%, 0px);}
}
@keyframes aniFadeIn {
	0% {opacity: 0; transform: translateY(30px);}
	100% {opacity: 1; transform: translateY(0);}
}
@keyframes aniFade {
	0% {opacity: 0; transform: translateY(30%);}
	10%, 90% {opacity: 1; transform: translateY(0%);}
	100% {opacity: 0; transform: translateY(-30%);}
}

/* info */
.info_view {
	position: absolute;
    width: calc(100% - 10vw);
	min-width: 1000px;
	padding: clamp(5rem, 24vw, 20rem) clamp(5rem, 5vw, 5vw) clamp(5rem, 10vw, 10rem);
	font-size: clamp(1rem, 1.5vw, 1.2rem);
    background: #f0f3ff;
	transition: all .5s;
    transition-delay: 0s;
    overflow-x: hidden;
    z-index: 10;

	&.active {
		background: #000;
		transition: .3s;
		transition-delay: .3s;

		* {
			color: #fff !important;
			transition: .3s;
			transition-delay: .3s;
			
			&::before {
				background: #fff !important;
				transition: .3s;
				transition-delay: .3s;
			}
		}
	}
}