@import '@styles/abstracts/_mixins';
@import '@styles/abstracts/_variables';
@import '@styles/base/_reset';
@import '@styles/base/_typography.scss';

/* animation */
@keyframes aniSlideLeft {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(-49.999%, 0px);}
}
@keyframes aniFadeIn {
	0% {opacity: 0; transform: translateY(30px);}
	100% {opacity: 1; transform: translateY(0);}
}
@keyframes aniFade {
	0% {opacity: 0; transform: translateY(30%);}
	10%, 90% {opacity: 1; transform: translateY(0%);}
	100% {opacity: 0; transform: translateY(-30%);}
}

/* info */
.info_view {
	position: absolute;
    width: calc(100% - 10vw);
	min-width: 1000px;
	padding: clamp(5rem, 24vw, 20rem) clamp(5rem, 5vw, 5vw) clamp(5rem, 10vw, 10rem);
	font-size: clamp(1rem, 1.5vw, 1.2rem);
    background: #f0f3ff;
	transition: all .5s;
    transition-delay: 0s;
    overflow-x: hidden;
    z-index: 10;

	&.active {
		background: #000;
		transition: .3s;
		transition-delay: .3s;

		* {
			color: #fff !important;
			transition: .3s;
			transition-delay: .3s;
			
			&::before {
				background: #fff !important;
				transition: .3s;
				transition-delay: .3s;
			}
		}
	}

	// common
	h3,
	h5 {
		font-size: clamp(1.8rem, 2.5vw, 2.3rem);
		font-weight: 700;
	}

	// about
	.info_detail {

		.info_title {
			font-size: clamp(8.8rem, calc(-1.675rem + 13.375vw), 14.375rem);
			font-weight: 700;
			line-height: 2.375rem;
			margin-bottom: 8rem;
			text-transform: uppercase !important;
		}

		.sub_title {
			@include flex();
			align-items: flex-start;
			line-height: clamp(1.5rem, 2.2vw, 2.0625rem);
			color: #242532;

			h2 {
				font-size: clamp(1.5rem, 2.5vw, 2rem);
				font-weight: 700;
			}

			.info_cont {
				padding-left: clamp(2rem, 5vw, 7rem);

				h3,
				h5 {
					padding-bottom: clamp(.8rem, 5.5vw, 1.3rem);
					line-height: 1;
				}

				h5 {
					font-weight: 100;
				}

				p {
					font-weight: 300;
					line-height: 2;
				}
			}
		}
	}
	
	// slider
	.info_slide {
		width: 80%;
		padding: clamp(5rem, 10vw, 10rem);
		margin: auto;

		.skill_swiper {
			width: 100%;

			.swiper_slide {
				@include flex('center');
				flex-wrap: wrap;

				.slide_wrapper {
					width: 33.333%;
					padding: clamp(3rem, 6vw, 5rem) 0;
					text-align: center;
					margin: 0 auto;

					img {
						width: auto;
						height: auto;
						opacity: 0;
						transform: translateY(30%);

						&.fadeIn {
							animation: aniFade 4s ease-in-out forwards;
						}
					}
				}
			}
		}
	}

	// skill
	.info_skill {
		width: clamp(2rem, 63vw, 100rem);
		padding-bottom: clamp(5rem, 6vw + 7rem, 30rem);
		margin: auto;

		.skill_title {
			margin: clamp(3rem, 5vw, 4rem) 0 clamp(4rem, 6vw, 5rem);
			text-align: center;

			h2 {
				display: inline-block;
				color: #000;
				font-size: clamp(1rem, 1.5vw, 1.3rem);
				word-break: keep-all;
				line-height: 1;
				padding: 0.7rem;
				background: linear-gradient(-45deg, #9df6dd, #a89be2, #fdd0f6, #9ae4fa);
				border-radius: 50px;
				font-weight: 800;
				margin-bottom: clamp(1rem, 2vw, 1.4rem);
			}

			h3 {
				font-size: clamp(2rem, 3.5vw, 2.8rem);
				font-weight: 800;
			}
		}

		.skill_cont {
			@include flex('between');
			align-items: flex-start;

			.sub_title {
				width: 70%;
				line-height: 2.1;

				p {
					font-weight: 300;
				}
			}

			.skill_list {
				width: 25%;

				li {
					font-size: clamp(1rem, 1.2vw, 1.1rem);
					font-weight: 400;
					line-height: clamp(2rem, 2.5vw, 2.3rem);
					position: relative;
					color: #242532;
					padding-left: clamp(2rem, 10vw, 3.3rem);

					&::before {
						@include pseudo-element(2rem, 0.0625rem, 1.1rem, 0);
						background-color: #242532;
					}
				}
			}
		}
	}

	// work button
	.info_work {
		width: auto;
		max-width: 1400px;
		padding: clamp(8rem, 12vw, 13.75rem) 0;
		margin: 0 auto;
		position: relative;

		.link_container {
			a {
				@include flex('center');
				flex-wrap: nowrap;
				width: max-content;
				overflow: hidden;
				margin: 0 clamp(0.2rem, 0.5vw, 0.25rem);
				padding: clamp(1rem, 2vw, 1.5rem) 0;
				animation: 70s linear 0s infinite normal none running aniSlideLeft;

				&:hover {
					text-decoration: none;

					.text_list {
						span {
							color: #fff !important;
							-webkit-text-stroke: 2px #fff;
						}
					}
				}

				.text_list {
					@include flex('center');

					span {
						text-transform: uppercase;
						margin: 0 clamp(1rem, 2vw, 1.875rem);
						color: transparent !important;
						-webkit-text-stroke: 2px #fff;
						transition: color 0.2s ease-in-out;
						font-size: clamp(5rem, 8vw, 10rem);
					}

					svg {
						transform: translateY(clamp(4px, 1vw, 8px));
					}
				}
			}
		}
	}
}