@mixin select-color($color1, $color2, $color3, $color4, $color5) {
	.select_current {
		position: relative;
		display: block;
		width: calc(100% - 20px);
		height: 100%;
		line-height: 35px;
		padding: 0 10px;
		border: 1px solid $color1;
		background: $color2;
		color: $color3;
		font-size: 13px;
		cursor: pointer;

		.arrow {
			float : right;
		}

		.select_list {
			position: absolute;
			overflow-y: auto;
			overflow-x: hidden;
			width: 100%;
			height: auto;
			padding: 3px 0;
			top: 35px;
			left: 0;
			border: 1px solid $color1;
			background: $color4;
			color: $color3;

			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background: $color5;
				border-radius: 5px;
			}

			.optgroup {
				.option {
					display: block;
					width: calc(100% - 18px);
					padding: 4px 9px;
					a {
						width: 100%;
						font-size: 13px;
						cursor: pointer;
						color: $color3;
						&:hover, &:focus, &:active {
							color: $color4;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.select_base {
	@include select-color(#00bcd4, transparent, #222222, #f0f0f0, #5c5a64);
}

