@use "@styles/common" as *;

#navigation {
	position: fixed;
	width: 100%;
	top: 20px;
	z-index: 50;

	.inner_wrap {
		@include flex($align: 'center');
		width: 748px;
		height: 56px;
		margin: 0 auto;

		.nav_menu {
			@include flex($align: 'center');
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.636);
			border-radius: 50px;
			backdrop-filter: blur(12px);
			gap: 20px;
			border: 1px solid #EEF2FF;

			li {
				position: relative;

				a {
					@include flex($align: 'center');
					width: 100%;
					height: 100%;
					font-size: 18px;
					text-align: center;
					padding: 8px 10px;
					transition: 0.3s;
					color: #929292;
					font-weight: 500;
				}

				&:hover,
				&:focus,
				&:active {
					>a {
						color: #fff;
						background-color: #5077F9;
						border-radius: 50px;
					}
				}
			}
		}
	}
}