@import '@styles/abstracts/_mixins';

.footer {
	position: relative;
	z-index: 10;
	background-color: transparent;

	&::before {
		position: absolute;
		content: '';
		width: 25%;
		height: 100%;
		background-color: #141414;
		top: 0;
		right: 0;
		z-index: 1;
	}
	.grid {
		position: relative;
		width: 90%;
		margin: 0 auto;
		max-width: 95.25rem;

		.footer_main {
			padding: 3.5rem 3.5rem 2.5rem;
			margin-left: 15.875rem;
			background-color: #141414;
			color: #F5F5F8;

			.footer_contact {
				float: left;
				width: 50%;
				font-size: 1.5rem;
				a {
					display: block;
					font-size: 2.3rem;
					text-decoration: underline;
					color: #F5F5F8;
					padding-top: 1rem;
				}
			}
			
			.footer_media {
				position: relative;
				float: left;
				width: 50%;
				padding-bottom: 5rem;
				padding-top: 2.5rem;
				text-align: right;
				z-index: 10;
				.media_title {
					font-size: 1.5rem;
					color: #F5F5F8;
					line-height: 2rem;
					margin-bottom: 1rem;
				}
				.media_icon {
					margin-left: 1.75rem;
				}
			}

			.footer_menu {
				position: absolute;
				width: 13.875rem;
				font-size: 1rem;
				line-height: 1.25rem;
				padding: 0 0 1.875rem 10rem;
				bottom: 0;
				left: 0;
				.menu_list {
					ul {
						li {
							display: block;
							margin-bottom: 12px;
		
							a {
								color: #141414;
							}
						}
					}
				}
			}
			.footer_copy {
				font-size: 0.975rem;
				color: #F5F5F8;
				line-height: 1.375rem;
			}
			
		}
	}
	
}