@import '@styles/abstracts/_mixins';

#siwon_navigation {
	position: relative;
	background: #2c2c2c;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 65;
	.inner_wrap {
		@include flex($align: 'between');
		width: 1200px;
		height: 50px;
		margin: 0 auto;

		.language_menu, .social_links {
			@include flex($align: 'center');
			height: 100%;
			li {
				position: relative;
				height: 100%;
				&:hover, &:focus, &:active {
					> a {
						color: #fff;
						text-decoration: underline;
					}
					> .sub_menu {
						display: block;
					}
				}
				a {
					@include flex($align: 'center');
					width: 100%;
					height: 100%;
					color: #bbb;
					font-size: 14px;
					font-weight: 500;
					text-align: center;
					transition: color 0.3s;
				}
			}
		}
		.language_menu {
			li {
				padding: 0 15px;
				height: 100%;
				.sub_menu {
					display: none;
					position: absolute;
					min-width: 100px;
					background: #444;
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
					top: 60px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
					text-align: center;
					li {
						padding: 10px;
						&:hover {
							background: rgba(255, 255, 255, 0.1);
						}
					}
				}
			}
		}
		.social_links {
			li {
				position: relative;
				flex: 1 1 auto;
				width: 40px;
				height: 40px;
				background-image: url(//siwon-cdn.siwonschool.com/comm/fam_sns.png);
				background-repeat: no-repeat;
				&.youtube {background-position: -200px 0;}
				&.navertv {background-position: -160px 0;}
				&.instagram {background-position: -120px 0;}
				&.naverblog {background-position: -80px 0;}
				&.facebook {background-position: 0 0;}
				&:hover, &:focus, &:active {
					&.youtube {background-position: -200px -40px;}
					&.navertv {background-position: -160px -40px;}
					&.instagram {background-position: -120px -40px;}
					&.naverblog {background-position: -80px -40px;}
					&.facebook {background-position: 0 -40px;}
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
