@use "@styles/common" as *;

.fakeFrame {
  position: relative;
  padding: 16vw 0;

  .fake {
    position: absolute;
    width: 100%;
    height: 106.667vw;

    &:last-child {
      bottom: 0;
    }
  }
}

.projectSection {
  width: 90vw;
  position: relative;
  margin: auto;
  z-index: 1;

  .sub_title {
    font-size: 2.5vw;
    color: #2957e2;
    font-weight: 700;
    margin-bottom: 2vw;
    letter-spacing: 0.133vw;
    text-align: center;
  }

  >.title {
    font-weight: 400;
    font-size: 4.667vw;
    line-height: 4.8vw;
    text-align: center;
    color: #000;

    span {
      font-weight: 600;
      padding: 0 0.4vw;
    }
  }

  .projectGrid {
    @include flex('column');
    width: 100%;
    align-items: center;
    margin-top: 9.333vw;
    gap: 4.267vw;

    .projectCard {
      position: relative;
      width: 90vw;
      min-height: 53.333vw;
      background: #fff;
      border-radius: 2.133vw;
      box-shadow: 0 0.267vw 1.6vw rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border: 0.133vw solid #ececec;

      .image {
        position: relative;
        width: 100%;
        height: 22.667vw;

        img {
          position: absolute;
          object-fit: cover;
          filter: brightness(0.9);
        }
      }

      .badgeContainer {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 1.067vw;
        top: 2.133vw;
        left: 2.133vw;

        .badge {
          color: #fff;
          background-color: #0070f3;
          font-size: 2vw;
          padding: 0.4vw 1.067vw 0.667vw;
          border-radius: 0.533vw;
          font-weight: 500;
          letter-spacing: normal;
        }
      }

      .websiteBtn {
        position: absolute;
        top: 2.133vw;
        right: 2.133vw;
        padding: 1.067vw 2.133vw;
        border-radius: 1.067vw;
        font-size: 2vw;
        color: #fff;
        background-color: #ff10108a;
        font-weight: 500;
        z-index: 2;
        letter-spacing: normal;
      }

      .CardContents {
        position: relative;
        height: 55vw;
        padding: 2vw 3.2vw;
        border-top: 0.133vw solid #dbdbdb;

        .CardContentsTop {
          @include flex('column');
          gap: 1.067vw;

          * {

            font-weight: 400;
            letter-spacing: -0.16vw;
          }

          .title {
            font-size: 3vw;
            font-weight: bold;
            margin-top: 1.067vw;
          }

          .subtitle {
            font-size: 2.4vw;
            color: #0070f3;
          }

          .company {
            font-size: 2.5vw;
            color: #000000;

          }

          .descriptionList {
            font-size: 2.6vw;
            color: #000;
            list-style: none;
            padding-left: 0;
            line-height: 1.6;
            
            li {
              display: inline-block;
              position: relative;
              padding-left: 1.467vw;

              &::before {
                position: absolute;
                content: '';
                width: 0.533vw;
                height: 0.533vw;
                background-color: #000;
                border-radius: 50%;
                left: 0vw;
                top: 1.333vw;
              }
            }
          }

        }

        .linkButtons {
          @include flex('center');
          justify-content: flex-start;
          width: calc(100% - 6.4vw);
          position: absolute;
          height: 7vw;
          gap: 2.133vw;
          border-top: 0.133vw solid #dadada;
          bottom: 0;

          a {
            @include flex('center');
            gap: 0.667vw;
            font-size: 2.3vw;
            font-weight: 500;
            color: #000;
            letter-spacing: normal;

            i {
              display: inline-block;
              width: 2.4vw;
              height: 2.4vw;

              &.ico_git {
                background: url('/images/ico_git_link.png') no-repeat center/contain;
              }

              &.ico_web {
                background: url('/images/ico_web_link.png') no-repeat center/contain;
              }

              &.ico_read {
                background: url('/images/ico_read_link.png') no-repeat center/contain;
              }

              &.ico_figma {
                background: url('/images/ico_fig_link.png') no-repeat center/contain;
              }
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}